/* Folhas de estilo principal
*
* Marcelo Barbosa,
* setembro, 2016.
*/

.title
{    
    font-family: arial;
    font-size: 28px;    
}

.grid .gridDescribe
{
    width: 100%;			
    margin: 0px;
    min-height: 60px;
    font-family: arial;
    font-size: 28px;
    color: #FFFFFF;
    border-bottom: 5px solid #1E90FF;
    text-align: justify;
    padding-bottom: 5px;	    
    background-color: rgba(0,0,0,0.7);
}

.simpleTable
{
    width: 100%;
    border: 0px;	
    background: linear-gradient(rgba(159, 182, 205, 0.8),#FFFFFF);
    box-shadow: 0px 5px 10px #000000;	
    border-spacing: 0px 0px;
    font-size: 28px;
    font-family: arial;
    margin-top: 10px;
}

.simpleTable td
{		
    padding: 10px;
}

.simpleTable .thead2
{	
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    color: #FFFFFF;
    border-bottom: 5px solid #1E90FF;    
}

.simpleTable .tLine
{
    font-weight: bold;	
}

.newsBlockSize
{
    width: 80%;
    min-height: 300px;
}

.carouselWrapper
{
     width: 80%;
    min-height: 300px;
}

.carouselImageList li .imageBox
{  
    width: 100%;	
    min-height: 300px;
    background-size: cover;
    background-position: center;
}